@model ProductBaseModelVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewBag.CategoryName;
    var tags = (List<Neeledhaage.Models.Common.DropdownModel>)ViewData["Tags"];
    var fabrics = tags.Where(m => m.ParentId == 1).ToList();
    var crafts = tags.Where(m => m.ParentId == 2).ToList();
    var colors = tags.Where(m => m.ParentId == 3).ToList();
}
<input type="hidden" value="@ViewBag.CategoryId" id="hdnCategoryId" />
<h2 class="category_name">@ViewBag.CategoryName</h2>
<div class="col-sm-3">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @*<div class="panel s-menu">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            sort by Women
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body smart-forms">
                        <form method="GET" id="category_form">
                            <label class="option block">
                                <input name="category[]" value="all" class="allcheck" type="checkbox">
                                <span class="checkbox"></span> All
                            </label>


                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label class="option block">
                                        <input name="category[]" data-id="1" class="parentcat" value="1" type="checkbox">
                                        <span class="checkbox"></span> &nbsp;<strong>Ethnic Wear       </strong>
                                    </label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="16" data-id="1" class="mycheck_1 subcat" type="checkbox">
                                                <span class="checkbox"></span> Saree
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="17" data-id="1" class="mycheck_1 subcat" type="checkbox">
                                                <span class="checkbox"></span> Unstiched Suit
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="18" data-id="1" class="mycheck_1 subcat" type="checkbox">
                                                <span class="checkbox"></span> Duppitas
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="19" data-id="1" class="mycheck_1 subcat" type="checkbox">
                                                <span class="checkbox"></span> Stole
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="20" data-id="1" class="mycheck_1 subcat" type="checkbox">
                                                <span class="checkbox"></span> Fabric
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="option block">
                                        <input name="category[]" data-id="2" class="parentcat" value="2" type="checkbox">
                                        <span class="checkbox"></span> &nbsp;<strong>Accessories       </strong>
                                    </label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="21" data-id="2" class="mycheck_2 subcat" type="checkbox">
                                                <span class="checkbox"></span> Bags
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="22" data-id="2" class="mycheck_2 subcat" type="checkbox">
                                                <span class="checkbox"></span> Footwear
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </form>
                    </div>
                </div>
            </div>

            <div class="panel s-menu">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            sort by Men
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body smart-forms">
                        <form method="GET" id="category_men_form">
                            <label class="option block">
                                <input name="category[]" value="all" class="allcheck" type="checkbox">
                                <span class="checkbox"></span> All
                            </label>


                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label class="option block">
                                        <input name="category[]" data-id="4" class="parentcat" value="4" type="checkbox">
                                        <span class="checkbox"></span> &nbsp;<strong>Shirts       </strong>
                                    </label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="26" data-id="4" class="mycheck_4 subcat" type="checkbox">
                                                <span class="checkbox"></span> Shirts
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="option block">
                                        <input name="category[]" data-id="6" class="parentcat" value="6" type="checkbox">
                                        <span class="checkbox"></span> &nbsp;<strong>T-shirts       </strong>
                                    </label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="27" data-id="6" class="mycheck_6 subcat" type="checkbox">
                                                <span class="checkbox"></span> T-shirts
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="option block">
                                        <input name="category[]" data-id="7" class="parentcat" value="7" type="checkbox">
                                        <span class="checkbox"></span> &nbsp;<strong>Fabric       </strong>
                                    </label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="25" data-id="7" class="mycheck_7 subcat" type="checkbox">
                                                <span class="checkbox"></span> Fabric
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </form>
                    </div>
                </div>
            </div>

            <div class="panel s-menu">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            sort by Home Linen
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body smart-forms">
                        <form method="GET" id="category_other_form">
                            <label class="option block">
                                <input name="category[]" value="all" class="allcheck" type="checkbox">
                                <span class="checkbox"></span> All
                            </label>


                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label class="option block">
                                        <input name="category[]" data-id="8" class="parentcat" value="8" type="checkbox">
                                        <span class="checkbox"></span> &nbsp;<strong>Bedsheets &amp; Bed Covers       </strong>
                                    </label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="11" data-id="8" class="mycheck_8 subcat" type="checkbox">
                                                <span class="checkbox"></span> Bedsheets
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="option block">
                                        <input name="category[]" data-id="9" class="parentcat" value="9" type="checkbox">
                                        <span class="checkbox"></span> &nbsp;<strong>Pillow Covers       </strong>
                                    </label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="12" data-id="9" class="mycheck_9 subcat" type="checkbox">
                                                <span class="checkbox"></span> Pillow Covers
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <label class="option block">
                                        <input name="category[]" data-id="10" class="parentcat" value="10" type="checkbox">
                                        <span class="checkbox"></span> &nbsp;<strong>Cushion Covers       </strong>
                                    </label>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="13" data-id="10" class="mycheck_10 subcat" type="checkbox">
                                                <span class="checkbox"></span> Cushion Covers
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="14" data-id="10" class="mycheck_10 subcat" type="checkbox">
                                                <span class="checkbox"></span> Dohars Quilts
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="option block">
                                                <input name="category[]" value="15" data-id="10" class="mycheck_10 subcat" type="checkbox">
                                                <span class="checkbox"></span> Rugs
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </form>
                    </div>
                </div>
            </div>*@


        <div class="panel s-menu">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        sort by Price
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <form method="POST" id="price_form">
                    <div class="panel-body price-list smart-forms">
                        <label class="option block">
                            <input name="price_type" class="product-input" value="" type="radio">
                            <span class="radio"></span> All
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="500 AND 1500" type="radio">
                            <span class="radio"></span> Rs.500-Rs.1500
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="1500 AND 2500" type="radio">
                            <span class="radio"></span> Rs.1500-Rs.2500
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="2500 AND 3500" type="radio">
                            <span class="radio"></span> Rs.2500-Rs.3500
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="3500 AND 4500" type="radio">
                            <span class="radio"></span> Rs.3500-Rs.4500
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="4500 AND 5500" type="radio">
                            <span class="radio"></span> Rs.4500-Rs.5500
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="5500 AND 6500" type="radio">
                            <span class="radio"></span> Rs.5500-Rs.6500
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="6500 AND 7500" type="radio">
                            <span class="radio"></span> Rs.6500-Rs.7500
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="7500 AND 8500" type="radio">
                            <span class="radio"></span> Rs.7500-Rs.8500
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="8500 AND 9500" type="radio">
                            <span class="radio"></span> Rs.8500-Rs.9500
                        </label>
                        <label class="option block">
                            <input name="price_type" class="product-input" value="9500 AND 10000" type="radio">
                            <span class="radio"></span> Rs.9500-Rs.10000
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel s-menu">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        sort by Fabric
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body smart-forms">
                    <form method="POST" action="javascript:;" id="fabric_form">
                        <label class="option block">
                            <input name="fabric[]" class="product-input" value="" type="checkbox">
                            <span class="checkbox"></span> All
                        </label>
                        @for (int i = 0; i < fabrics.Count; i++)
                        {
                            <label class="option block">
                                <input name="fabric[]" class="product-input" value="@fabrics[i].Value" type="checkbox">
                                <span class="checkbox"></span> @fabrics[i].Text
                            </label>
                        }
                    </form>
                </div>
            </div>
        </div>

        <div class="panel s-menu">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        sort by Craft
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body smart-forms">
                    <form method="POST" action="javascript:;" id="craft_form">
                        <label class="option block">
                            <input name="craft[]" class="product-input" value="" type="checkbox">
                            <span class="checkbox"></span> All
                        </label>
                        @for (int i = 0; i < crafts.Count; i++)
                        {

                            <label class="option block">
                                <input name="craft[]" class="product-input" value="@crafts[i].Value" type="checkbox">
                                <span class="checkbox"></span> @crafts[i].Text
                            </label>
                        }

                    </form>
                </div>
            </div>
        </div>
        <div class="panel s-menu">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        sort by Color
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body  smart-forms">
                    <form method="POST" action="javascript:;" id="color_form">
                        <label class="option block">
                            <input name="color[]" class="product-input" value="" type="checkbox">
                            <span class="checkbox" style="background:#0D56FF; border-radius:50%;border:none;"></span> All
                        </label>
                        @for (int i = 0; i < colors.Count; i++)
                        {
                            <label class="option block">
                                <input name="color[]" class="product-input" value="@colors[i].Value" type="checkbox">
                                <span class="checkbox" style="background:#116803; border-radius:50%;border:none;"></span> @colors[i].Text
                            </label>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9" id="div-product-list">
    @Html.Action("ProductList", "Shop", new ProductListFilterVM() { CategoryId = ViewBag.CategoryId })
</div>


@*<script type="text/javascript">
    $(function () {
        $('.product-input').change(function () {
            var price = $('input[name="price_type"]').val();
            var fabrics = $('input[name="fabric[]"]').val();
            var crafts = $('input[name="craft[]"]').val();
            var colors = $('input[name="color[]"]').val();
            var tags = [];
            tags = tags.concat(fabrics);
            tags = tags.concat(crafts);
            tags = tags.concat(colors);
            $.ajax({
                url: '/Shop/ProductList',
                type: 'post',
                data: { CategoryId: '@ViewBag.CategoryId', ProdcutPrices: price, ProdcutTags:tags},
                success: function (data) {
                    $('#div-product-list').html(data);
                }
            });
        })
    })
</script>*@