<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/assets/neele-dhaage.jpg">
    <title>Neele Dhaage</title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/default/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- Custom styles for this template -->
    <link href="~/assets/default/css/font-awesome.css" rel="stylesheet">
    <link href="~/assets/default/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/default/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="~/assets/default/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="~/assets/default/css/smart-forms.css" rel="stylesheet">
    <link href="~/assets/default/css/template.css" rel="stylesheet">
    <link href="~/assets/default/css/jquery.mCustomScrollbar.css" rel="stylesheet">

    <link href="~/assets/default/css/toastr.css" rel="stylesheet">
    <script src="~/Content/js/common.js"></script>
    <script src="~/scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/scripts/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
    <header>
        <div class="container-fluid">
            @*<div class="row hidden-xs">
                    <div class="col-sm-12 text-center">
                        <span class="h-message"> INTERNATIONAL SHIPPING </span>
                    </div>
                </div>*@
            <div class="row  hidden-xs">
                <div class="f-delevery">
                    <div class="col-sm-3 topbar_left">
                        <a href="tel:9887650979" class="tel"><i class="fa fa-phone-square" aria-hidden="true"></i> 9887650979 </a>
                        <a href="mailto:contact@neeldhaage.com" class="mail">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            contact@neeldhaage.com
                        </a>
                    </div>
                    <div class="col-sm-6 text-center">
                        <span>SIGN UP FOR 15% OFF YOUR FIRST ORDER. USE PROMO CODE &#039;FIRST15&#039;</span>
                    </div>
                    <div class="col-sm-3 topbar_right">
                        <a href="#" class="bulk_orders"><i class="fa fa-th-large" aria-hidden="true"></i> Bulk Orders</a>
                        <a href="#" class="bulk_orders">Currency</a>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="header2 h2WebView">
                <div class="col-md-4  col-sm-4">
                    <div class="logo"><center><a href="@Url.Action("Index","Home")"><img class="img-responsive" src="~/assets/default/images/logo.png" /></a></center></div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="search-form_div">
                        <form class="search-form" method="GET" id="top-search" action="shop/search-result.html">
                            <div class="input-group">
                                <input class="form-control" name="keyword" type="text" placeholder="Enter your search text here" value="" style="border:none; box-shadow:none;">
                                <span class="input-group-btn">
                                    <button class="btn btn-default search-btn" type="submit"><img src="~/assets/default/images/search.png" width="20"></button>
                                </span>
                            </div>
                        </form>
                    </div>


                </div>

                <div class="col-md-4  col-sm-4 search" id="myaccount">
                    @*<p class="hidden-xs hidden-sm"><strong>Customer Support:</strong>9950xxxxxx</p>*@
                    <!-- <a href="#" class="sign-btn" data-toggle="modal" data-target="#myModal">Sign up</a>-->
                    @*<a href="signin.html" class="sign-btn">Sign up</a>*@
                    @if (Request.IsAuthenticated)
                    {
                        <a href="/account/logout">Logout</a>
                    }
                    else
                    {
                        if (ViewBag.Title == "Login")
                        {
                            <a href="/account/Loginuser"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                        }
                        else
                        {
                            <a href="/account/Loginuser"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                        }
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("User"))
                    {
                        if (ViewBag.Title == "User Profile" || ViewBag.Title == "Orders")
                        {
                            @Html.Action("UserNavPartial", "Account", new { area = "" })
                        }
                        else
                        {
                            @Html.Action("UserNavPartial", "Account", new { area = "" })
                        }
                    }

                    <span>|</span>
                    <a href="javascript:" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-heart"></i> (<span class="wishlistcount">0</span>)
                    </a><span>|</span>
                    <div class="dropdown  cartMenu " style="display:inline-block;">
                        <a href="#" class="dropdown-toggle cart" data-toggle="dropdown"> <i class="fa fa-shopping-basket"></i> </a>


                        @Html.Action("CartPartial", "Cart")

                        <!--/.dropdown-menu-->

                    </div>
                </div>
                <div class="clr"></div>
            </div>

            <div class="header2 h2MobileView">
                <div class="col-sm-4">
                    <div class="logo"><center><a href="@Url.Action("Index","Home")"><img class="img-responsive" src="~/assets/default/images/logo.png" /></a></center></div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="search-form_div">
                        <form class="search-form" method="GET" id="top-search" action="shop/search-result.html">
                            <div class="input-group">
                                <input class="form-control" name="keyword" type="text" placeholder="Enter your search text here" value="" style="border:none; box-shadow:none;">
                                <span class="input-group-btn">
                                    <button class="btn btn-default search-btn" type="submit"><img src="~/assets/default/images/search.png" width="20"></button>
                                </span>
                            </div>
                        </form>
                    </div>


                </div>

                <div class="col-sm-4 search" id="myaccount">
                    @*<p class="hidden-xs hidden-sm"><strong>Customer Support:</strong>9950xxxxxx</p>*@
                    <!-- <a href="#" class="sign-btn" data-toggle="modal" data-target="#myModal">Sign up</a>-->
                    @*<a href="signin.html" class="sign-btn">Sign up</a>*@

                    @if (Request.IsAuthenticated)
                    {
                        <a href="/account/logout">Logout</a>
                    }
                    else
                    {
                        if (ViewBag.Title == "Login")
                        {
                            <a href="/account/Loginuser"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                        }
                        else
                        {
                            <a href="/account/Loginuser"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                        }
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                    {
                        <a href="/account/user-profile">(@SessionManager.UserFullName)</a>
                    }

                    <span>|</span>
                    <a href="javascript:" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-heart"></i> (<span class="wishlistcount">0</span>)
                    </a><span>|</span>
                    <div class="dropdown  cartMenu " style="display:inline-block;">
                        <a href="#" class="dropdown-toggle cart" data-toggle="dropdown"> <i class="fa fa-shopping-basket"></i> </a>


                        @Html.Action("CartPartial", "Cart")

                        <!--/.dropdown-menu-->

                    </div>
                </div>
                <div class="clr"></div>
            </div>


            <nav class="navbar navbar-default ">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
                    </div>
                    <!--Menu-->
                    <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav text-center">
                            <!-- <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home" style="font-size:20px;"></i> </a></li>-->

                            @Html.Action("CategoryMenuPartial", "Shop")

                            @*<li class="dropdown megamenu-fullwidth">
                                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Saree <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="megamenu-content">

                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled">
                                                <li class="no-border">
                                                    <p> <strong> Ethnic Wear </strong> </p>
                                                </li>
                                                <li> <a href="#"> Saree  </a> </li>
                                                <li> <a href="#"> Unstiched Suit  </a> </li>
                                                <li> <a href="#"> Duppitas  </a> </li>
                                                <li> <a href="#"> Stole  </a> </li>
                                                <li> <a href="#"> Fabric  </a> </li>
                                            </ul>
                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled">
                                                <li class="no-border">
                                                    <p> <strong> Accessories </strong> </p>
                                                </li>
                                                <li> <a href="#"> Bags  </a> </li>
                                                <li> <a href="#"> Footwear  </a> </li>
                                            </ul>

                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled l-slide">

                                                <div id="carousel-example-generic2" class="carousel slide " data-ride="carousel">
                                                    <div class="carousel-inner" role="listbox">
                                                        <div class="item active">
                                                            <center> <a href="#"><img src="~/assets/default/images/p1.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                        <div class="item">
                                                            <center> <a href="#">  <img src="~/assets/default/images/p2.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                        <div class="item">
                                                            <center> <a href="#"> <img src="~/assets/default/images/p3.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                        <div class="item">
                                                            <center> <a href="#"> <img src="~/assets/default/images/p4.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>


                                        </li>
                                    </ul>
                                </li>*@

                            @*<li class="dropdown megamenu-fullwidth">
                                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="megamenu-content">
                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled">
                                                <li class="no-border">
                                                    <p> <strong> Shirts </strong> </p>
                                                </li>
                                                @Html.Action("CategoryMenuPartial", "Shop")
                                            </ul>
                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled">
                                                <li class="no-border">
                                                    <p> <strong> T-shirts </strong> </p>
                                                </li>
                                                <li> <a href="#"> T-shirts  </a> </li>
                                            </ul>
                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled">
                                                <li class="no-border">
                                                    <p> <strong> Fabric </strong> </p>
                                                </li>
                                                <li> <a href="#"> Fabric  </a> </li>
                                            </ul>

                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled l-slide">

                                                <div id="carousel-example-generic2" class="carousel slide " data-ride="carousel">
                                                    <div class="carousel-inner" role="listbox">
                                                        <div class="item active">
                                                            <center> <a href="shop.html"><img src="~/assets/default/images/p1.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                        <div class="item">
                                                            <center> <a href="#">  <img src="~/assets/default/images/p2.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                        <div class="item">
                                                            <center> <a href="#"> <img src="~/assets/default/images/p3.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                        <div class="item">
                                                            <center> <a href="#"> <img src="~/assets/default/images/p4.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>


                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown megamenu-fullwidth">
                                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home Linen <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="megamenu-content">
                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled">
                                                <li class="no-border">
                                                    <p> <strong> Bedsheets &amp; Bed Covers </strong> </p>
                                                </li>
                                                <li> <a href="#"> Bedsheets  </a> </li>
                                            </ul>
                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled">
                                                <li class="no-border">
                                                    <p> <strong> Pillow Covers </strong> </p>
                                                </li>
                                                <li> <a href="#"> Pillow Covers  </a> </li>
                                            </ul>
                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled">
                                                <li class="no-border">
                                                    <p> <strong> Cushion Covers </strong> </p>
                                                </li>
                                                <li> <a href="#"> Cushion Covers  </a> </li>
                                                <li> <a href="#"> Dohars Quilts  </a> </li>
                                                <li> <a href="#"> Rugs  </a> </li>
                                            </ul>

                                            <ul class="col-lg-3  col-sm-3 col-md-3 unstyled l-slide">

                                                <div id="carousel-example-generic2" class="carousel slide " data-ride="carousel">
                                                    <div class="carousel-inner" role="listbox">
                                                        <div class="item active">
                                                            <center> <a href="shop.html"><img src="~/assets/default/images/p1.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                        <div class="item">
                                                            <center> <a href="#">  <img src="~/assets/default/images/p2.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                        <div class="item">
                                                            <center> <a href="shop.html"> <img src="~/assets/default/images/p3.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                        <div class="item">
                                                            <center> <a href="#"> <img src="~/assets/default/images/p4.jpg" class="img-responsive"></a> </center>

                                                        </div>
                                                    </div>
                                                </div>
                                            </ul>


                                        </li>
                                    </ul>
                                </li>

                                <li><a href="#">Sale</a></li>
                                <li><a href="#">Just In!</a></li>
                                <li><a href="#">Contact Us</a></li>*@


                        </ul>


                    </div>
                </div>
            </nav>
        </div>
        <div class="clr"></div>
    </header>

    <div>

        @if (ViewBag.Title == "User Profile")
        {
            <div class="col-xs-12 col-md-2">
                <ul>
                    <li><a href="/account/orders">My Orders</a></li>
                </ul>
            </div>
        }

        @if (ViewBag.Title == "Orders")
        {
            <div class="col-xs-12 col-md-2">
                <ul>
                    <li><a href="/account/user-profile">My Profile</a></li>
                </ul>
            </div>
        }

        @if (ViewBag.Sidebar == "Yes")
        {
            <div class="col-xs-12 col-md-7">
                @RenderBody()
            </div>
            <div class="col-xs-12 col-md-3">
                @Html.Action("SidebarPartial", "Pages")
            </div>
        }
        else
        {
            <div class="col-xs-12 col-md-12">
                @RenderBody()
            </div>

        }
    </div>

    <footer class="FooterMobileView">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel s-menu">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#footer1" aria-expanded="false" aria-controls="footer1">
                                        Customer Service
                                    </a>
                                </h4>
                            </div>
                            <div id="footer1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="footer1" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body smart-forms">
                                    <ul class="list-group">
                                        <li>
                                            <a href="/Home/TermsConditions">Terms &amp; conditions</a><br>
                                            <a href="/Home/TermsConditions">Exchange Policy</a><br>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel s-menu">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#footer2" aria-expanded="false" aria-controls="footer2">
                                        Support
                                    </a>
                                </h4>
                            </div>
                            <div id="footer2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="footer2" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body smart-forms">
                                    <ul class="list-group">
                                        <li>
                                            <a href="@Url.Action("TrackOrder","Home")">Order Tracking</a><br>
                                            <a href="@Url.Action("BulkOrders","Home")">Bulk Order</a><br>
                                            <a href="@Url.Action("ReturnsExchanges","Home")">Return & Cancellation</a><br>
                                            <a href="@Url.Action("ShippingPolicy","Home")">International Shipping</a><br>
                                            <a href="@Url.Action("PrivacySecurity","Home")">Payment Option</a><br>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel s-menu">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#footer3" aria-expanded="false" aria-controls="footer3">
                                        Company
                                    </a>
                                </h4>
                            </div>
                            <div id="footer3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="footer3" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body smart-forms">
                                    <ul class="list-group">
                                        <li>
                                            <a href="/Home/AboutUs">About Us</a><br>
                                            <a href="/Home/ContactUs">Contact Us</a><br>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel s-menu">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#footer4" aria-expanded="false" aria-controls="footer4">
                                        About NeeleDhaage
                                    </a>
                                </h4>
                            </div>
                            <div id="footer4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="footer4" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body smart-forms">
                                    <ul class="list-group">
                                        <li>
                                            <a href="/Home/ArtisansWork">30 years of Neeledhaage</a><br>
                                            <a href="/Home/OurProcess">Our Process</a><br>
                                            <a href="/Home/Video">Video</a><br>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel s-menu">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#footer5" aria-expanded="false" aria-controls="footer5">
                                        get in touch
                                    </a>
                                </h4>
                            </div>
                            <div id="footer5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="footer5" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body smart-forms contactInfo">
                                    <ul class="list-group">
                                        <li>
                                            <i class="fa fa-phone"></i> &nbsp; <a style="font-size:12px;">9887650979</a><br>

                                            <i class="fa fa-envelope-open"></i> &nbsp; <a href="javascript::" style="font-size:11px;">contact@neeldhaage.com</a>
                                            <br>

                                            <!-- <i class="fa fa-facebook-square"></i> &nbsp; <a href="http//bagruboutiquefb.com" style="font-size:11px;">bagrujaipur</a>-->
                                            <div class="col-sm-12">
                                                <p>Follow Us</p>

                                                <a target="_blank" href="https://www.twitter.com"><img src="/assets/default/images/icon1.png" width="31"></a>    <a target="_blank" href="https://www.instagram.com"><img src="/assets/default/images/icon2.png" width="31"></a>    <a target="_blank" href="https://www.facebook.com"><img src="/assets/default/images/icon3.png" width="31"></a>    <a target="_blank" href="https://www.pinterest.com" style="margin-right:0;">
                                                    <img src="/assets/default/images/icon4.png" width="31">
                                                </a>       <a target="_blank" href="https://www.youtube.com" style="margin-right:0;"><img src="/assets/default/images/icon6.png" width="31"></a>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class=" col-md-3 col-sm-3">
                    <img src="~/Images/Logo/craftmark_logo.png" style="width: 50%;">
                    <p>Our Bagru Daabu prints are certified by Craftmark </p>

                </div>


            </div>

            <div class="row footer-bottom">
                <div class="col-md-6  footer-text">
                    <p>© Copyright 2018 neeledhaage.com | All Rights Reserved</p>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <img src="~/assets/default/images/payment-option.png" class="img-responsive pull-right">
                </div>
            </div>
        </div>
    </footer>


    <footer class="FooterWebView">
        <div class="container">
            <div class="row">
                <div class=" col-sm-3">
                    <h6>Customer Service</h6>

                    <a href="@Url.Action("TrackOrder","Home")">Order Tracking</a><br>
                    <a href="@Url.Action("BulkOrders","Home")">Bulk Order</a><br>
                    <a href="@Url.Action("ReturnsExchanges","Home")">Return & Cancellation</a><br>
                    <a href="@Url.Action("ShippingPolicy","Home")">International Shipping</a><br>
                    <a href="@Url.Action("PrivacySecurity","Home")">Payment Option</a><br>


                </div>
                <div class=" col-md-2 col-sm-2">
                    <h6>Support</h6>
                    <a href="@Url.Action("TermsConditions","Home")">Terms &amp; conditions</a><br>
                    <a href="@Url.Action("TermsConditions","Home")">Exchange Policy</a><br>
                    @*<a href="@Url.Action("AboutUs","Home")">About Us</a><br>
                        <a href="@Url.Action("Index","Home")">Home</a><br>
                        <a href="@Url.Action("Index","Home")">Shop</a><br>
                        <a href="@Url.Action("ContactUs","Home")">Contact Us</a><br>*@


                </div>
                <div class=" col-md-2 col-sm-2">
                    <h6>Company</h6>
                    <a href="@Url.Action("AboutUs","Home")">About Us</a><br>
                    <a href="@Url.Action("ContactUs","Home")">Contact Us</a><br>


                </div>
                <div class=" col-md-2 col-sm-2">
                    <h6>About NeeleDhaage</h6>
                    <a href="@Url.Action("ArtisansWork","Home")">30 years of Neeledhaage</a><br>
                    <a href="@Url.Action("OurProcess","Home")">Our Process</a><br>
                    <a href="@Url.Action("Video","Home")">Video</a><br>
                </div>
                <div class="col-sm-3">
                    <h6>get in touch</h6>
                    <i class="fa fa-phone"></i> &nbsp; <a style="font-size:12px;">9887650979</a><br>
                    <br>
                    <i class="fa fa-envelope-open"></i> &nbsp; <a href="javascript::" style="font-size:11px;">contact@neeldhaage.com</a>
                    <br>
                    <br>
                    <!-- <i class="fa fa-facebook-square"></i> &nbsp; <a href="http//bagruboutiquefb.com" style="font-size:11px;">bagrujaipur</a>-->
                    <div class="col-sm-12">
                        <p>Follow Us</p>

                        <a target="_blank" href="https://www.twitter.com"><img src="~/assets/default/images/icon1.png" width="31"></a>    <a target="_blank" href="https://www.instagram.com"><img src="~/assets/default/images/icon2.png" width="31"></a>    <a target="_blank" href="https://www.facebook.com"><img src="~/assets/default/images/icon3.png" width="31"></a>    <a target="_blank" href="https://www.pinterest.com" style="margin-right:0;">
                            <img src="~/assets/default/images/icon4.png" width="31">
                        </a>       <a target="_blank" href="https://www.youtube.com" style="margin-right:0;"><img src="~/assets/default/images/icon6.png" width="31"></a>

                    </div>
                </div>
                <div class=" col-md-3 col-sm-3">
                    <img src="~/Images/Logo/craftmark_logo.png" style="width: 50%;">
                    <p>Our Bagru Daabu prints are certified by Craftmark </p>

                </div>
            </div>

            <div class="row footer-bottom">
                <div class="col-md-6  footer-text">
                    <p>© Copyright 2018 neeledhaage.com | All Rights Reserved</p>
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <img src="~/assets/default/images/payment-option.png" class="img-responsive pull-right">
                </div>
            </div>
        </div>

    </footer>
    <!--<div class="modal fade hide" id="modalAds" role="dialog">-->
    <!--<div class="modal-dialog  modal-bg-1">-->
    <!--<div class="modal-body-content">-->
    <!--<a class="close setcookie" data-value="oneday" data-dismiss="modal">×</a>-->
    <!--<div class="modal-body">-->
    <!--<div class="col-lg-6 col-sm-8 col-xs-12">-->
    <!--<h3>Stay	in Touch</h3>-->
    <!--<p>-->
    <!--Subscribe	to our	newsletter	and receive	15%	off	your first order.-->
    <!--</p>-->
    <!--<form id="newsletter" method="post" action="newsletter.html" class="newsletter ajaxform">-->
    <!--<input type="hidden" name="_token" value="YnWEo91Am7OaEbYzxNHlHpXs4zw2I30pEhcyup42" />-->
    <!--<div class="form-group clearfx">-->
    <!--<input type="text" id="subscribe" name="email" placeholder="Enter email">-->
    <!--<button class="subscribe-btn">Subscribe</button>-->
    <!--</div>-->
    <!--</form>-->
    <!--<p>  <a href="javascript:" data-value="forever" class="link shoplink setcookie">Please don’t show this again</a></p>-->
    <!--</div>-->
    <!--<div class="clr"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/assets/default/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/default/owl-carousel/owl.carousel.js"></script>
    <script src="~/assets/default/js/jquery.form.js"></script>
    <script src="~/assets/default/js/formClass.js"></script>
    <script src="~/assets/default/js/toastr.min.js"></script>
    @RenderSection("Scripts", required: false)
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
   
    <script>
        $(document).ready(function () {
            //Sort random function
            function random(owlSelector) {
                owlSelector.children().sort(function () {
                    return Math.round(Math.random()) - 0.5;
                }).each(function () {
                    $(this).appendTo(owlSelector);
                });
            }

            $("#owl-demo2").owlCarousel({
                autoPlay: 4000, //Set AutoPlay to 3 seconds
                items: 4,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3],
                navigation: true,
                navigationText: [
                    "<i class='fa fa-angle-left'></i> ",
                    " <i class='fa fa-angle-right'></i> "
                ],
                beforeInit: function (elem) {
                    //Parameter elem pointing to $("#owl-demo")
                    random(elem);
                }

            });
            $("#owl-demo4").owlCarousel({
                autoPlay: 4000, //Set AutoPlay to 3 seconds
                items: 3,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3],
                navigation: true,
                navigationText: [
                    "<i class='fa fa-angle-left'></i> ",
                    " <i class='fa fa-angle-right'></i> "
                ],
                beforeInit: function (elem) {
                    //Parameter elem pointing to $("#owl-demo")
                    random(elem);
                }

            });
        });


    </script>
    <script>
        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > 180) {
                $('.header').addClass('stick-header');
            } else {
                $('.header').removeClass('stick-header');
            }
        });

        var foreverurl = "https://www.route2carrer.com/setcookie";
        var onedayurl = "https://www.route2carrer.com/setcookieoneday";

        $(document).on("click", ".setcookie", function (event) {
            var dataval = $(this).attr('data-value');
            if (dataval == 'forever')
                var url = foreverurl;
            else
                var url = onedayurl;
            $.ajax({
                url: url,
                type: "get",
                dataType: 'JSON',
                data: $(this).serialize(),
                success: function (data) {
                    $('#modalAds').modal('toggle');
                    window.location.reload();
                },
            });
        });


    </script>
    <script>
        var rtocart_route = "https://www.route2carrer.com/remove-from-cart";
    </script>
    <script type="text/javascript" src="~/assets/default/js/product.js"></script>
    <script type="text/javascript" src="~/assets/default/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="~/assets/default/js/jquery.mCustomScrollbar.js"></script>
    <script src="~/assets/default/js/script.js"></script>

    <script>
        $('#carousel-example-generic2').carousel({
            interval: 1500
        })
    </script>
    <script>

        $(window).load(function () {
            $('#modalAds').modal('show');
            $('#modalAds').removeClass('hide');
        });
    </script>


</body>
</html>
<script>
        var removeurl = "~/assets/default/images/heart-icon.png";
        var addurl = "https://www.route2carrer.com/assets/default/images/heart-icon1.png";
</script>
<script type="text/javascript" src="~/assets/default/js/category.js"></script>
